.modal li.annexes_files a{
    margin-top:0;
    color: black !important;
    font-size: smaller;
}
.modal li.annexes_link a{
    color: mediumvioletred !important;
    font-size: smaller;
}
.modal li.annexes_facebook a{
    color: blue !important;
    font-size: smaller;
}
div.tab-content a.link_modal, a.files_modal, a.facebook_modal{
    font-size: smaller;
}

div.nav li{
    font-size: smaller;
}

.modal.modal-wide .modal-dialog {
    width: 70%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}
img.center_image_modal {
    display: block;
    margin: 0 auto;
}

blockquote.contentArticle{
    display: block;
    margin: 0 auto;
}

div.bulle_bleu{
   background-image: url("images/bulle-bleu.png");
}

.bulle_bleu {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 47px;
    width: 38px;
}
div.bulle_verte{
    background-image: url("images/bulle-vert.png");
}

.bulle_verte {
    position: absolute;
    top: 12px;
    left: 425px;
    height: 47px;
    width: 38px;
}
div.bulle_rouge{
    background-image: url("images/bulle-rouge.png");
}

.bulle_rouge {
    position: absolute;
    top: 12px;
    left: 840px;
    height: 47px;
    width: 38px;
}

p {
    font-size: smaller;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.contentArticle {
    font-size: smaller;
}

.new-post header,
.postArticle .postAdmin header {
    margin-bottom: 20px;
}

.posts .postArticle .postAdmin {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .postAdmin .postArticle .info {
    color: #aaa;
    font-style: italic;
}

.error, .success {
    text-align: center;
    border-radius: 6px;
}

.error {
    border: 1px solid red;
    background-color: #f9b5af;
    color: red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    border: 1px solid green;
    background-color: #d1f9da;
    color: green;
}

header h3 {
    text-align: center;
}

#signform {
    margin-top: 0;
    background-color: lightgray;
    border: 1px solid lightgray;
}

#articleNew {
    margin-left: 1px !important;
}

.postArticle {
    font-size: smaller;
    color: #FFFFFF !important;
}

.col-lg-4 {
    width: 30% !important;
}

.col-md-4 {
    width: 30% !important;
}

.col-sm-4 {
    width: 30% !important;
}

.col-xs-4 {
    width: 30% !important;
}

.btn-glyphicon {
    padding: 8px !important;
    background: #ffffff !important;
    margin-right: 4px !important;
}

.icon-btn {
    padding: 1px 15px 3px 2px !important;
    border-radius: 50px !important;
}

.edgePadding {
    padding-left: 25px;
    padding-right: 25px;
}

/**
 * Helpers
 */
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center {
    text-align: center;
}

.radius {
    border-radius: 2px;
}

.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin: 10px;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 100px;
    background-color: #eee;
}

.card__image img {
    height: 120px;
    width: 100%;

}

.card__content {
    position: relative;
}

.card__content a {
    color: #00abe3;
}

.card__content h5 {
    color: #001a35 !important;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}

.card__article a:hover {
    color: #2980b9;
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

.card__author {
}

.card__author a {
    color: #000;
}

.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img {
    border-radius: 50%;
    margin-right: 0.6em;
    width: 10%;
}

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}

.card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
    z-index: 2;
}

.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
}

.share-toggle.share-expanded:before {
    content: "\f00d";
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff !important;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
    color: #eee;
}

.card_header_actu {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
