.custom_fa{
    width: 25px;
}

.custom_btn{
    margin-top:5px;
}

.custom-color-a {
    color: white !important;
}

#header{
    background-size: cover;
    height: 100px;
}

#logo_ozanam {
    left: 50px;
    top: 0;
    position: absolute;
}

.nav a {
    color: white !important;
}


.navbar-custom {
    background-color: #0360A0 !important;
    margin: 0 !important;
}

.navbar-custom span{
    color: #1da1f2;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    padding: 5px 15px;
    box-sizing: border-box;
}

.navbar-right {
    padding-top: 15px;
}

.navbar-right .btn {
    font-size: x-small !important;
    margin-right: 10px;
}

.slide-toggle {
    overflow: hidden;
    transition: all 1.5s;
}

.site > li > a {
    font-size: smaller !important;
}

.site li a:hover{
    color: #1da1f2;
    border-bottom: 5px solid #1da1f2;
    cursor: pointer;
}
#top_link {
    color: red !important;
}


#right-header {
    width: 57%;
    height: 100px;
    background: #E8E8E8 url(images/bg_header.gif) no-repeat;
    float: right;
}

.top_info a {
    font-size: 12px;
}

p.top_info {
    float: right;
    width: 152px;
    font-size: 11px;
    color: #626262;
    line-height: 15px;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
}

p.timer {
    float: right;
    position: relative;
}

p.top_info:before {
    position: absolute;
    content: "";
    background-image: url(images/building.png);
    width: 30px;
    height: 30px;
    left: -40px;
}

#wrapper_info {
    height: 100px;
    margin-left: 70px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

