
.custom_fa{
    width: 25px;
}

.custom_btn{
    margin-top:5px;
}

.custom-color-a {
    color: white !important;
}

#header{
    background-size: cover;
    height: 100px;
}

.btn-success-custom {
    background-color: #007d34;
    border-color: #007d34;
}
#left-side-sign{
    border-right: 1px solid #d3d3d3;
}
#logo_ozanam {
    left: 50px;
    top: 0;
    position: absolute;
}

.nav a {
    color: white !important;
}


.navbar-custom {
    background-color: #0360A0 !important;
    margin: 0 !important;
}

.navbar-custom span{
    color: #1da1f2;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    padding: 5px 15px;
    box-sizing: border-box;
}

.navbar-right {
    padding-top: 15px;
}

.navbar-right .btn {
    font-size: x-small !important;
    margin-right: 10px;
}

.slide-toggle {
    overflow: hidden;
    transition: all 1.5s;
}

.site > li > a {
    font-size: smaller !important;
}

.site li a:hover{
    color: #1da1f2;
    border-bottom: 5px solid #1da1f2;
    cursor: pointer;
}
#top_link {
    color: red !important;
}


#right-header {
    width: 57%;
    height: 100px;
    background: #E8E8E8 url(images/bg_header.gif) no-repeat;
    float: right;
}

.title-sign{
    background: url(images/bar-h2-bleu.png) no-repeat bottom left;
    display: block;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 5px 0 9px 0;
}

.top_info a {
    font-size: 12px;
}

p.top_info {
    float: right;
    width: 152px;
    font-size: 11px;
    color: #626262;
    line-height: 15px;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
}

p.timer {
    float: right;
    position: relative;
}

p.top_info:before {
    position: absolute;
    content: "";
    background-image: url(images/building.png);
    width: 30px;
    height: 30px;
    left: -40px;
}

#wrapper_info {
    height: 100px;
    margin-left: 70px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.nav-head {
    background-color: #fff;
    box-shadow: 0 0 8px #565656;
    box-sizing: border-box;
    position: relative;
    top: 0!important;
    width: 100%;
    z-index: 100;
}

.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}
