.navbar-custom {
    background-color: #0360A0 !important;
    margin: 0 !important;
}

.custom_fa{
    width: 25px;
}

.custom_btn{
    margin-top:5px;
}

.custom-color-a {
    color: white !important;
}

#top_link {
    color: red !important;
}

.nav a {
    color: white !important;
}

.search {
    padding-top: 10px;
}

.slide-toggle {
    overflow: hidden;
    transition: all 1.5s;
}

#logo {
    width: 100px;
    height: auto;
    top: 20%;
    text-align: center !important;
}

#logo_ozanam {
    left: 50px;
    top: 0;
    position: absolute;
}

.navbar-right {
    padding-top: 10px;
}

.site > li > a {
    font-size: smaller !important;
}

.btn {
    font-size: smaller !important;
}

#logo {
    height: 100%;
    width: 43%;
    position: absolute;
    top: 0;
    bottom: 5px;

}

#right-header {
    width: 57%;
    height: 100px;
    background: #E8E8E8 url(images/bg_header.gif) no-repeat;
    float: right;
}

.top_info a {
    font-size: 12px;
}

p.top_info {
    float: right;
    width: 152px;
    font-size: 11px;
    color: #626262;
    line-height: 15px;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
}

p.timer {
    float: right;
    position: relative;
}

p.top_info:before {
    position: absolute;
    content: "";
    background-image: url(images/building.png);
    width: 30px;
    height: 30px;
    left: -40px;
}

#wrapper_info {
    height: 100px;
    margin-left: 70px;
    width: 532px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

